[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
PyYAML = "==5.4"
sqlalchemy = "*"
"aiohttp-jinja2" = "*"
uvloop = "*"
aioreloader = "*"

[requires]
python_version = "3.6"
